[Unit]
Description=OilRig Drill Service
After=docker.service
Requires=docker.service
Wants=network-online.target

[Service]
ExecStartPre=/bin/bash -c "/usr/bin/docker rm -fv oilrig-drill || true"
ExecStart=/usr/bin/docker run --rm \
      --name oilrig-drill \
      --network host \
      --privileged \
      --volume /etc/oilrig/drill/kubernetes:/etc/kubernetes \
      --volume /var/lib/docker-oilrig:/var/lib/docker:rshared \
      --volume /var/log/oilrig/supervisor:/var/log/oilrig/supervisor:rw \
      --volume /:/rootfs:rshared \
      docker.io/oilrig/pipe:latest
ExecStop=/bin/bash -c "/usr/bin/docker rm -fv oilrig-drill || true"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
